.convert-form {
  display: grid;
  grid-template-areas: 
    "source target"
    "date submit";
  row-gap: 85px;
}

.covert-form__source-container {
  grid-area: source;
}

.covert-form__target-container {
  grid-area: target;
}

.convert-form__date {
  grid-area: date;
  justify-self: start;

  @include input-style;
}

.convert-form__submit {
  grid-area: submit;
  justify-self: end;

  padding-top: 25px;
  padding-right: 102px;
  padding-bottom: 24px;
  padding-left: 101px;

  @include button-contrast-style;
}