.history-item {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 401px;
  margin-right: 219px;
  margin-bottom: 28px;

  font-size: 18px;
}

.history-item__source {
  &::after {
    content: "";
    position: absolute;

    top: 0;
    right: 109px;

    width: 40px;
    height: 19px;

    background-image: url("../../img/arrow.svg");
  }
}

