.history {
  position: relative;
  margin-bottom: 110px;
  padding-top: 40px;
  padding-right: 70px;
  padding-bottom: 40px;
  padding-left: 70px;

  background-color: var(--basic);

  &::before {
    content: "";
    position: absolute;

    top: 80px;
    right: 574px;
    
    width: 0;
    height: 298px;

    border: 1px solid var(--basic-decorative);
    box-shadow: 0px 4px 4px var(--basic-decorative);
  }
}

.history__heading {
  margin: 0;
  margin-bottom: 50px;

  font-size: 28px;
  font-weight: 500;
}

.history__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  max-height: 255px;

  list-style: none;
}

.history__reset {
  padding-top: 20px;
  padding-right: 29px;
  padding-bottom: 20px;
  padding-left: 28px;

  @include button-contrast-style;
}