.history-item {
  position: relative;
  display: flex;
  justify-content: flex-start;

  margin-right: 100px;
  margin-bottom: 28px;

  font-size: 18px;
}

.history-item__date {
  margin-right: 100px;
}

.history-item__source {
  margin-right: 100px;
  justify-self: flex-start;

  &::after {
    content: "";
    position: absolute;

    top: 0;
    left: 290px;

    width: 40px;
    height: 19px;

    background-image: url("../../img/arrow.svg");
  }
}